movies {
	text-align: center;
	display: block;
}

movie {
	text-align: center;
	width: 25%;
	display: inline-block;
	font-family: Verdana, Arial;
	font-size: 15px;
	margin-top: 50px;
	padding: 25px;
	border: 1px solid #000;
}

title {
	display: block;	
	font-size: 20px;
	font-weight: bold; 
	margin-bottom: 10px;
}

director {
	display: block;	
	text-transform: uppercase;
}

release_date {
	display: block;	
}

duration {
	display: block;	
}

production {
	display: block;	
}

genre {
	display: block;	
}


directors {
	display: block;
	text-align: center;
	border: 1px solid #000;
}

person {
	text-align: center;
	width: 25%;
	display: inline-block;
	font-family: Verdana, Arial;
	font-size: 15px;
	margin-top: 50px;
	padding: 25px;
	border: 1px solid #000;
}

firstname {
	display: block;	
	font-size: 20px;
	font-weight: bold; 
	margin-bottom: 10px;
}

lastname {
	display: block;	
	text-transform: uppercase;
}

age {
	display: block;	
}