* {
	margin: 0;
	padding: 0;
}

Collection {
	width: 100vw;
	min-height: 100vh;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

	overflow-x: hidden;
}

DocumentData {
	width: 90vw;
}

Movies, Directors {
	width: 70vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

Movies::before, Directors::before {
	content: "FILMY";
	font-size: 2rem;
	text-align: center;
	width: 100%;
	background: #bbb;
	margin: 4rem 0 0.2rem 0;
	padding: 0.2rem 0;
}

Directors::before {
	content: "REŻYSERZY";
}

/* DIRECTORS */
Directors Director {
	width: 15rem;
	height: 8rem;

	position: relative;
	margin: 0.2rem;
	padding: 0 0 0 7rem;
}

Directors Director::before {
	content: "";
	width: 7rem;
	height: 100%;
	background: url('./Desert.jpg');
	background-size: cover;
	position: absolute;
	left: 0;
	top: 0;
}

Directors Director:nth-child(even) {
	background: #eee;
}

Directors Director:nth-child(odd) {
	background: #ddd;
}

Directors Director Firstname,  Directors Director Lastname, Directors Director BirthDate {
	display: block;
	font-weight: bold;
	position: relative;
	width: 90%;	
	margin: 0 0 0 10%;
}

Directors Director BirthDate, Directors Director Firstname {
	margin: 0.5rem 0 0 10%;
}

Directors Director Firstname::before, Directors Director BirthDate::before {
	content: "Imię i nazwisko";
	font-weight: 400;
	font-size: 0.7rem;
	display: block;
	width: 100%;
}

Directors Director BirthDate::before {
	content: "Data urodzenia";
}



/* MOVIES */
Movies Movie {
	width: 20rem;
	height: 15rem;

	position: relative;
	margin: 0.2rem;
	padding: 0 0 0 12rem;
}

Movies Movie::before {
	content: "";
	width: 12rem;
	height: 100%;
	background: url('./Desert.jpg');
	background-size: cover;
	position: absolute;
	left: 0;
	top: 0;
}

Movies Movie:nth-child(even) {
	background: #eee;
}

Movies Movie:nth-child(odd) {
	background: #ddd;
}


Movie Title, Movie Genres, Movie Duration, Movie ReleaseDate, Movie ProductionPlaces {
	display: block;
	font-weight: bold;
	position: relative;
	width: 90%;	
	margin: 0.5rem 0 0 10%;
}

Movie Title::before, Movie Genres::before, Movie Duration::before, Movie ReleaseDate::before, Movie ProductionPlaces::before {
	content: "Tytuł";
	font-weight: 400;
	font-size: 0.7rem;
	display: block;
	width: 100%;
}

Movie Genres::before {
	content: "Kategoria";
}

Movie Duration::before {
	content: "Czas trwania";
}

Movie Duration[timeUnit="min"]::after {
	content: " min";
}

Movie Duration[timeUnit="h"]::after {
	content: " h";
}

Movie ReleaseDate::before {
	content: "Data premiery";
}

Movie ProductionPlaces::before {
	content: "Miejsca produkcji";
}
