Movie {
	text-align: center;
	width: 25%;
	display: inline-block;
	font-family: Verdana, Arial;
	font-size: 15px;
	margin-top: 50px;
	padding: 25px;
	border: 1px solid #000;
	
	Director {
		display: block;
	}
}

Title {
	display: block;	
	font-size: 20px;
	font-weight: bold; 
	margin-bottom: 10px;
}

ReleaseDate {
	display: block;	
}

Duration {
	display: block;	
}

ProductionPlaces {
	display: block;	
}

Genres {
	display: block;	
}

Movies {
	text-align: center;
}